<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Rounded Rectangle 1.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{151,455},{143,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,139}}</string>
                <key>sourceSize</key>
                <string>{143,139}</string>
            </dict>
            <key>Symbol 2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{171,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,154}}</string>
                <key>sourceSize</key>
                <string>{171,154}</string>
            </dict>
            <key>demo_00000.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{329,191},{107,153}}</string>
                <key>offset</key>
                <string>{25,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,2},{107,153}}</string>
                <key>sourceSize</key>
                <string>{167,163}</string>
            </dict>
            <key>demo_00001.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,382},{149,149}}</string>
                <key>offset</key>
                <string>{4,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,2},{149,149}}</string>
                <key>sourceSize</key>
                <string>{167,163}</string>
            </dict>
            <key>demo_00002.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,1},{157,111}}</string>
                <key>offset</key>
                <string>{0,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,3},{157,111}}</string>
                <key>sourceSize</key>
                <string>{167,163}</string>
            </dict>
            <key>demo_00003.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{331,97},{157,93}}</string>
                <key>offset</key>
                <string>{0,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,3},{157,93}}</string>
                <key>sourceSize</key>
                <string>{167,163}</string>
            </dict>
            <key>demo_00004.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,113},{155,137}}</string>
                <key>offset</key>
                <string>{-1,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,3},{155,137}}</string>
                <key>sourceSize</key>
                <string>{167,163}</string>
            </dict>
            <key>demo_00005.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{309,299},{125,151}}</string>
                <key>offset</key>
                <string>{-16,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,2},{125,151}}</string>
                <key>sourceSize</key>
                <string>{167,163}</string>
            </dict>
            <key>demo_00006.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,251},{85,153}}</string>
                <key>offset</key>
                <string>{-36,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,3},{85,153}}</string>
                <key>sourceSize</key>
                <string>{167,163}</string>
            </dict>
            <key>demo_00007.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,337},{117,151}}</string>
                <key>offset</key>
                <string>{-20,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,5},{117,151}}</string>
                <key>sourceSize</key>
                <string>{167,163}</string>
            </dict>
            <key>demo_00008.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,244},{153,137}}</string>
                <key>offset</key>
                <string>{-3,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,19},{153,137}}</string>
                <key>sourceSize</key>
                <string>{167,163}</string>
            </dict>
            <key>demo_00009.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{331,1},{157,95}}</string>
                <key>offset</key>
                <string>{0,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,61},{157,95}}</string>
                <key>sourceSize</key>
                <string>{167,163}</string>
            </dict>
            <key>demo_00010.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,156},{155,87}}</string>
                <key>offset</key>
                <string>{1,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,69},{155,87}}</string>
                <key>sourceSize</key>
                <string>{167,163}</string>
            </dict>
            <key>demo_00011.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{307,425},{149,147}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,9},{149,147}}</string>
                <key>sourceSize</key>
                <string>{167,163}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>texture.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0a9981d727b1e0616de5195b8ea8d146:1/1$</string>
            <key>textureFileName</key>
            <string>texture.png</string>
        </dict>
    </dict>
</plist>
